body {
    margin: 0 auto;
    text-align: center;
    font-family: "proxima nova", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #f6f9fe url(../image/backgroud.jpg) no-repeat center top;
}

.container {
    width: 1600px;
}

.filter-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(356deg) brightness(102%) contrast(104%);
}

@media only screen and (max-width: 768px) {
    header .location {
        max-width: 250px;
    }
}

@media only screen and (max-width: 576px) {
    header .location {
        max-width: 120px;
    }
    .container {
        max-width: 430px;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.seperater {
    color: whitesmoke;
    margin: 25px 0;
}


/*Header*/

header {
    color: whitesmoke;
    margin-top: 5px;
}

header .logo {
    height: 50px;
    float: left;
}

header .logo img {
    width: 80px;
    height: 80px;
    fill: whitesmoke;
}

header .logo p {
    display: inline;
    font-size: 28px;
    font-weight: bold;
}

header .location {
    height: 50px;
    padding-top: 20px;
    display: flex;
    float: right;
}

header .location img {
    width: 20px;
    height: 20px;
}

header .location .txt-current-location {
    font-size: 16px;
    margin: 0 5px;
}

header .wrap-search{
    position: relative;
}

header .location input {
    width: 220px;
    height: 25px;
    margin: 0 10px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, .3);
    color: whitesmoke;
    border: none;
    border-radius: 25px;
}

header .location input:focus {
    outline: none;
    border: none;
}

header .location input::placeholder {
    color: whitesmoke
}

header .search-suggestions{
    width: 220px;
    position: absolute;
    background-color: white;
    top: 26px;
    left: 10px;
    display: none;
}
.search-suggestions ul{
    list-style: none;
    text-align: left;
    color: black;
    padding: 0;
}
.search-suggestions li{
    margin: 0;
    padding: 5px;
}

.search-suggestions li:hover{
    background-color: #f3f3f3;
}


/*Current Weather*/

main {
    color: whitesmoke;
}

main .current-weather {
    text-align: left;
    display: flex;
}

main .current-icon {
    position: absolute;
    right: 10%;
    top: 20%;
}

main .current-icon img {
    width: 120px;
    height: 120px;
}

.info>p {
    margin: 0;
}

.info-location {
    font-weight: bold;
}

.info-time-update {
    color: #e6e6e6;
}

.info-temperature {
    color: white;
    font-size: 100px;
}

.info-description {
    font-size: 20px;
    font-weight: bold;
}

.detail {
    display: flex;
}

.detail-item {
    margin-right: 30px;
    display: flex;
}

.detail-item img {
    width: 30px;
    height: 30px;
}

.detail-item p {
    margin-top: 5px;
}

/*Hourly Weather*/
.card-weather {
    background-color: white;
    color: #808080;
    overflow: hidden;
    text-align: left;
    border: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 14px 0 rgb(0 0 0 / 8%);
    display: inline-block;
}

.hourly {
    margin-top: 200px;
    width: 100%;
    height: 180px;
    position: relative;
}

.list-hourly-weather {
    width: 4800px;
    margin-top: 10px;
    padding: 0;
    list-style: none;
    display: block;
    overflow: hidden;
}

.list-hourly-weather p {
    margin: 0 auto;
    text-align: center;
}

.hourly-weather-card {
    margin-left: 0px;
    transition: margin 1s ease-in-out;
}

.item {
    width: 50px;
    height: 100px;
    margin: 0 32px;
    display: inline-block;
}

.item img {
    width: 50px;
    height: 50px;
}

.prev,
.next {
    position: absolute;
    top: 50px;
    font-size: 50px;
    font-weight: bold;
    color: #c5c5c5;
    text-decoration: none;
}

.prev:hover,
.next:hover {
    cursor: pointer;
    color: #808080;
}

.prev {
    left: 25px;
}

.next {
    right: 25px;
}

/*Daily Weather*/

.daily {
    margin-top: 50px;
    width: 920px;
    position: relative;
}

.chart-box {
    width: 800px;
    height: 220px;
    margin-left: 36px;
    position: absolute;
    top: 165px;
}

.list-weather-day {
    margin: 0;
    padding: 0;
    list-style: none;
}

.day-item {
    width: 106px;
    margin: 0 2px;
    padding: 0;
    display: inline-block;
    text-align: center;
}

.day-item .day{
    font-weight: bold;
}

.current-day{
    background-color: #f8faff;
}

.day-item img {
    width: 50px;
    height: 50px;
}

.weather-night {
    margin-top: 200px;
}

/*Air quality*/

.air-quality {
    width: 371px;
    height: 460px;
}

.aqi {
    width: 100%;
    height: 80px;
}

.card-aqi{
    display: flex;
    align-items: center;
}

.index-aqi {
    margin-left: 30px;
    font-size: 38px;
    line-height: 80px;
}

.status-aqi {
    font-size: 18px;
    margin-left: 30px;
    display: inline-block;
}

.list-pollution{
    margin:25px 0 0 0;
}

.pollution-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.pollution-item>p{
    width: 50px;
    margin: 0;
}

.pollution-item>span{
    text-align: right;
    display: inline-block;
    width: 100px;
    margin: 0;
}

.pollution-bar{
    flex-grow: 1;
    height: 0.6rem;
    margin: 0 10px;
}



.green {
    background-color: #a8e05f;
}

.yellow {
    background-color: #fdd64b;
}

.orange{
    background-color: #e48442;
    color: whitesmoke;
}

.red {
    background-color: #f55e5f;
    color: whitesmoke;
}

.purple{
    background-color: #a070b6;
    color: whitesmoke;
}

.dark-purple{
    background-color: #9e697a;
    color: whitesmoke;
}

/* Responsive body */
@media only screen and (max-width: 1399px) {
    .card-weather{
        width: 920px;
    }

    .item {
        margin: 0 30px;
    }
}

/*Footer*/

footer {
    margin-top: 100px;
    width: 100%;
    height: 150px;
    background-color: cornflowerblue;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 50px;
}

.footer-copyright{
    margin: 0;
}

.footer-section a{
    text-decoration: none;
    color: white;
}